.ant-list {
    margin-top: 2%;
    .ant-list-item {
        width: 97%;
        border-radius: 8px;
        .ant-card-body {
            background-color: #FAFAFA;
            padding: 3%;
        }
        .ant-avatar-image {
            width: 90%;
            height: 90%;
            border-radius: 50px;
        }
    }
}