.organisations-listview-container{
    margin-top: 5%;
    height: 62vh;
}
.list-view-container{
    display: flex;
    text-align: center;
}
.list-view-name{
    border: 1px solid red;
    text-align: center;
}