$border: 1px solid red;
.main-space{
    width: 100%;
    // height: 80vh;
    // border: $border;
}
.main-space-1{
    display: flex;
    width: 100%;
    height: 100%;
    // border: 1px solid green;
}

.ant-form{
    // border: 1px solid blue;
    width: 100%;
    height: 100%;
}
.main-space-2{
    // border: $border;
    display:flex;
    flex:wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 3% 0%;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.ant-form-item {
    margin-bottom: 15%;
    // border: $border;
    width: 100%;
  }