$border: 1px solid red;

.organisations-add-view-container {
    // border: $border;

    .organisations-add-view-card-container {
        border: $border;
        height: 65vh;
        margin: 1% 5%;
        display: flex;
    }
    .organisations-add-view-icon-container {
        border-radius: 50%;
        background-color: #00b4d8;
        color: white;
        font-size: 60px;
        font-weight: 600;
        height: 27%;
        width: 19%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items:  center;
        // padding: 0% 5%;
        margin-right:5%;
        margin-top:2%;
    }
    
}

